<!DOCTYPE html>
<html lang="no">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fredrik.no</title>
<link rel='stylesheet' href='/static/main.css?v1' type='text/css' media='all' />
</head>
<body>
    <h1>Hello</h1>
</body>
</html>
